/* General */

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

@media (min-width: 1200px) {
.container {
    max-width: 1320px;
}
    
}

/* End of General */


/* Box  */

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }
}

/* End of Box  */


/* Desktop Navigation  */

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

/* End of Desktop Navigation  */

/* Hero Section */

@media (min-width: 768px) {
    .hero .hero-title {
        font-size: 4.5rem;
    }
}

@media (min-width: 768px) {
    .hero .hero-subtitle {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .hero-single .hero-title {
        font-size: 3.5rem;
    }
}

/* End of Hero Section */

/* About */

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

/* End of About */

/* Counter */

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}

/* End of Counter  */

/* Testimonials */

@media (min-width: 768px) {
    .testimonial-box .description {
        padding: 0 5rem;
    }
}

@media (min-width: 992px) {
    .testimonial-box .description {
        padding: 0 8rem;
    }
}

@media (min-width: 1200px) {
    .testimonial-box .description {
        padding: 0 13rem;
    }
}

/* End of Testimonials */

/* Contact */

@media (min-width: 767px) {
    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

/* End of Contact */

/* Blog */

@media (min-width: 767px) {
    .card-blog {
        margin-bottom: 3rem;
    }
}

/* End of Blog */

/* Blog Single */
@media (min-width: 768px) {

    .post-box,
    .form-comments,
    .box-comments,
    .widget-sidebar {
        padding: 3rem;
    }
}

.blog-wrapper .article-title {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .blog-wrapper .article-title {
        font-size: 1.9rem;
    }
}

/* End of Blog Single */

/* Comments */

@media (min-width: 768px) {
    .box-comments .list-comments .comment-author {
        font-size: 1.5rem;
    }
}

/* End of Comments  */